@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui;
}


body {
    height: 100vh;
    background-color: #f8f9fa;
    margin: 0 auto;
}


.page1{
   
    
    width: 80vw;
    margin: 0 auto;
}
.navbar{
    max-width: 1200px;
    margin: 40px auto;
}

.nav-item a{
    color:#39DB4A;
    font-weight: 600;
}

.dropdown span{
    color: #272727;
    padding: 5px;
}

#main-links span{
    color: #39DB4A;
}

.container-fluid {
    gap: 50px;
}

li a {
    color: #39DB4A;
    font-size: 17px;
}

.navbar-brand .logo1 {
    background-color: #39DB4A;
    padding: 5px;
    border-radius: 10px;
}

.navbar-brand {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

ul {
    gap: 40px;
}

.right-nav{
    display: flex;
    gap: 20px;
    align-items: center;
}

.search-click {
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}


.search-click:focus {
    width: 200px;
    padding-left: 50px;
}

.search-click {
    background-image: url('images/search.svg');
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 50px;
}

.search-click input {
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

.right-nav button{
    padding: 10px 15px;
    background-color:#39DB4A;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 17px;
}

/*-----------Hero-------------*/

.hero{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 150px auto;
}

.hero .content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 700px;
}

.hero .hero-text{
    font-weight: 800;
    font-size: 50px;
}

.hero-text span{
color: #39DB4A;
}

.hero p{
    font-size: 20px;
    max-width: 500px;
}

.hero .btn-order{
    max-width: fit-content;
    padding: 10px 15px;
    background-color:#39DB4A;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    box-shadow: 10px 8px 25px 0px #0F4C21;
}

.hero video{
    position: relative;
    border: 5px solid #39DB4A;
    border-radius: 30px;
}

.frame{
    
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
    top: 480px;
    left: 1200px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 20px 40px 3px black;
    
}

.wave{
    position: absolute;
    top: 470px;
    left: 1212px;
    height: 50px;
    width: 50px;
    background-color: white;
    transform: rotateZ(40deg);
    z-index: 2;
}

.frame span{
    font-weight: 700;
    font-size: 17px;
    color: #FF6868;
}



/*---------------------page 2---------------------*/

.page2 {
    max-width: 80vw;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.page2 h3{
    color: #FF6868;
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: 700;
    padding: 20px 40px;
}

.page2>h1{
    font-size: 50px;
    color: black;
    font-weight: 700;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 70px;
    flex-wrap:wrap;
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 30px;
    height: 250px;
    width: 250px;
    gap: 10px;
    box-shadow: 0px 0px 19px -6px;
}

.card1 img{
    width: 100px;
    padding: 10px;
}

.card1:nth-child(4) img{
    padding: 10px;
width: 70px;
}

.card1 .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:#C1F1C6;
    padding: 20px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    
}





.card1 .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.card1 h1{
    font-weight: 600;
    font-size: 25px;
    columns: #1e1e1e;
}


.card1 p{
    font-size: 15px;
    color: #555555;
}





/*-----------page3-----------*/
.page3{
    
    height: 80vh;
    max-width: 70vw;
    margin: 200px auto;
}

.page3 h3{
    color: #FF6868;
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: 700;
    padding: 20px 0;
}

.page3 .main{
    display: flex;
    align-items:last baseline;
    justify-content: space-between;
}

.page3 .main .text{
    font-size: 50px;
    color: black;
    font-weight: 700;
    max-width: 400px;
    line-height: 65px;
}

.page3 .slide{
    display: flex;
    gap: 35px;
}

.page3 .slide-container{
    background-color: #EFEFEF;
    color: #6F6E6E;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50%;

}

.page3 .slide-container:hover{
    background-color: #39DB4A;
    color: white;
}

.dishes{
    margin-top: 100px;
    display: flex;
    gap: 40px;
}




.page3 .wishlist {
    position: absolute;
    background-color: #39DB4A;
    padding: 25px;
    border-radius: 20px;
    height: 68px;
    width: 83px;
    top: -13px;
    z-index: 20;
    left: 190px;
    border-radius: 37%;
    font-size: 20px;
    font-weight: 100;
}

.page3 .wishlist i {
    position: absolute;
    top: 33px;
    z-index: 20;
    left: 19px;
}


.page3 .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 0 30px 20px;
    width: 250px;
    height: auto;
    gap: 8px;
    box-shadow: 0px 0px 19px -6px;
     overflow: hidden; 
    
}

.page3 .content img{
        object-fit: fill;
        height: 200px;
}

.page3 .content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.page3 .content .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page3 .content h5{
font-weight: 800;
color: black;
}

.page3 .content p{
    color: #555555;
}

.page3 .last{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.page3 .last .price{
    color: black;
    font-weight: 800;
}

.page3 .last .rating{
    color: #454545;
}





/*------------page 4--------------*/
.page4{
    position: relative;
    
    height: 100vh;
    max-width: 70vw;
    margin: auto;
}

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.chef{
    margin-right: 200px;
}

.page4 .chef .cover {
    position: absolute;
    background-color: #39DB4A;
    height: 253px;
    width: 320px;
    top: 217px;
    left: 8px;
    border-top-right-radius: 40%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.page4 .chef img{
    position: relative;
    z-index: 55;
    width: 300px;
}

.frame2 {
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: white;
    border-radius: 30px;
    top: 382px;
    left: 267px;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 20px 40px -10px black;
}

.wave2 {
    position: absolute;
    top: 365px;
    left: 280px;
    height: 50px;
    width: 50px;
    background-color: white;
    transform: rotateZ(40deg);
    z-index: 2;
}

.frame2 span{
    font-weight: 700;
    font-size: 17px;
    color: #FF6868;
}

.main-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 55px;
}

.page4 .content h2{
    color: #FF6868;
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: 700;
    padding: 15px 0;
}

.page4 .content .hero-text{
    font-size: 50px;
    color: black;
    font-weight: 700;
    max-width: 500px;
    line-height: 65px;
}

.page4 .content p{
    color: #555555;
}

.page4 .feedback .images{
    
    position: absolute;
    left: 540px;
}

.page4 .feedback .image1{
    position: relative;
    margin-left: -21px;

}

.page4 .feedback .image{
    height: 60px;
    position: absolute;
    
}
.page4 .feedback .image2{
    margin-left: 19px;
}

.page4 .feedback .image3{
    margin-left: 62px;
}


.page4 .rating{
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    font-size: 20px;
    font-weight: 700;
}

.star{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #454545;
}

.star div{
    color: #807E7E;
    font-weight: 500;
    font-size: 15px;
}








/*---------page 5----------------*/

.page5{
    position: relative;
    display: flex;
gap: 40px;
    height: 100vh;
    max-width: 75vw;
    margin: auto;
}

.page5 .main-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 55px;
}

.page5 .left{
    width: 700px;
}

.page5 .left h2{
    color: #FF6868;
    font-size: 20px;
    letter-spacing: 6px;
    word-spacing: 10px;
    font-weight: 700;
    padding: 15px 0;
}

.page5  .hero-text{
    font-size: 50px;
    color: black;
    font-weight: 700;
    max-width: 500px;
    line-height: 65px;
}

.page5  p{
    color: #555555;
    max-width: 400px;
}

.page5 .btn-explore{
    max-width: fit-content;
    padding: 10px 30px;
    background-color:#39DB4A;
    border: none;
    border-radius: 40px;
    color: white;
    font-size: 17px;
    box-shadow: 10px 8px 25px 0px #0F4C21;
}


.page5 .card-container{
    display: flex;
    gap: 50px;
    justify-content: center;
    
    max-width: 720px;
    flex-wrap: wrap;
    margin: auto;
}

.page5 .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    padding: 20px 30px ;
    width: 250px;
    height: auto;
    
    box-shadow: 0px 0px 19px -6px;
    overflow: hidden; 
}


.page5 .body img{
    padding: 10px;
    height: 80px;
    margin-bottom: 20px;
}

.page5 .body h2{
    font-size: 20px;
    color: #5FE26C;
}


.page5 .body span {
    font-size: 16px;
    color: #90BD95;
    text-align: center;
}

/*---------footer----------*/

.footer{
    margin-top:100px ;
    max-width: 70vw;
    margin: auto;
    height: 70vh;
}

footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
    gap: 150px;
}

footer .company{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer .company a{
    color: #555555;
    font-size: 20px;
}


footer ul{
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50% 50%;
    row-gap: 20px;

}

footer li a{
    color: #555555;
} 

.footer ul .bold{
    color: black;
    font-weight: 800;
}



footer a{
    
    text-decoration: none;
}

.footer .logo1 {
    background-color: #39DB4A;
    padding: 10px;
    border-radius: 10px;
}

.navbar-brand {
    display: flex;
    width: 120px;
}

/*------contact-------*/

.contact{
    display: flex;
    gap: 20px;
    margin-top: 100px;
    align-items: center;
    gap: 150px;
}

.contact i{
    color: #484848;
    background-color: #EDFFEF;
    padding: 10px ;
    border-radius: 50%;
}

.contact i:hover{
    background-color: #39DB4A;
    color: white;
}










@media (max-width: 1300px){
    ul {
        gap: 10px;
    }

    .wave{
left: 60%;
    }

    .frame{
left: 50%;
    }
    
}

@media (max-width: 1126px){
    .page1 {
        padding: 20px;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .hero {
        width: 100%;
        max-width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        margin: 150px auto;
    }
    
    .wave{
        height: 30px;
        width: 30px;
        left: 69%;
top: 79%;
z-index: 1;
    }

    .frame{
        height: 40px;
        width: 100px;
        left: 68%;
top: 80%;
z-index: 2;
    }

    .frame span{
        font-size: 10px;
    }

    .hero .hero-text{
        font-size: 45px;
    }

    .hero video{
        width: 300px;
        height: auto;
    }

    .page2 {
        margin-top: 100px;
height: 200vh;
    } 
    
}


@media (min-width: 2350px){
    .wave{
       display: none;
    }

    .frame{
       display: none;
    }
    
}

@media (max-width: 576px){
    .page1{
        margin: 20px;
        flex-wrap: wrap;
        
    }
    .hero{
        flex-wrap: wrap;
    }
}

@media (min-width: 992px) {
    
}



